{% macro forms_cal(dt) %}
<div class="container text-center">
    <h3>{{dt | month}}월</h3>
    <table class="table table-bordered">
    <thead>
      {% for w in "일월화수목금토" %}<th>{{w}}</th>{% endfor %}
    </thead>
  
    <tbody>
    {% for row in range(dt | sdt, dt | edt) | batch(7,"&nbsp;") %}
      <tr>
        {% for col in row %}
          <td>{% if (col|int) <= 0 %}&nbsp;{% else %}{{col | safe}}{% endif %}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endmacro %}


{% macro forms_input(type="text", id="inp",name="inp",value="",class="") %}
    <input type="{{type}}" 
        id="{{id}}" 
        name="{{name}}" 
        value="{{value}}" 
        class="form-control{{class}}" >
{% endmacro %}

{% macro forms_radio(id="r1",name="rdo",type="radio",value="val",text="RadioTest1",class="") %}
    <form class="contanier">
        <div class = "form-group">
            <div class="form-check">
                <input class="form-check-input {{class}}"
                    id = "{{id}}"
                    name="{{name}}"
                    type="{{type}}"
                    value="{{value}}">
                <label for="r1" class="form-check-lable">{{text}}</label>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro forms_radios(lst,class="") %}
    <form class="contanier">
        <div class = "form-group">  
        {% for r in lst %}
            <div class="form-check">  
                <input class="form-check-input {{class}}"
                    type="radio" 
                    name="{{r.name}}"
                    id="{{r.id}}"
                    value="{{r.value}}"
                    {{r.checked}}>
                <label for="{{r.id}}" class="form-check-lable">{{r.text}}</label>
            </div>
        {% endfor %}
        </div>
    </form>
{% endmacro %}

{% macro forms_checkbox(d) %}
<form class="contanier">
    <div class = "form-check">  
        <input class="form-check-input"  
                type="checkbox" 
                id="{{d.id}}"
                {{d.checked}}>
            <label for="{{d.id}}" class="form-check-lable">{{d.text}}</label>
        </div>
    </div>
</form>
{% endmacro %}

{% macro forms_select(lst) %}
<form class="contanier">
    <div class = "form-gruop">  
        <select class="custom-select"> 
            <option select>Open this select menu</option> 
            {% for d in lst %} 
                <option value="{{d.value}}"{% if selected %}selected{% endif %}>{{d.text}}</option> 
            {% endfor %}
        </select>
    </div>
</form>
{% endmacro %}

{% macro forms_modal(id,title,icon="",isshowfooter=True,ok_fn="") %}
    <!-- Modal -->
<div
class="modal fade"
id="{{id}}"
tabindex="-1"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title">
          {% if icon %}
            <i class="{{icon}}"><strong>{{title}}</strong></i>
          {% endif %}
      </h3>
      <button
        type="button"
        class="btn-close"
        data-mdb-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <div class="modal-body">
        {{caller()}}
    </div>

    {% if isshowfooter %}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
        Close
      </button>
      <button type="button" onclick="{{ok_fn}}" class="btn btn-primary">Save changes</button>
    </div>
    {% endif %}
  </div>
</div>
</div>
{% endmacro %}